
<%= stylesheet_link_tag 'Edit'%>



<div id="plain_wrapper">
<h1>Editing geocaching</h1>

  <%= render 'form' %>
<%= link_to 'Show', @geocaching %> |
<%= link_to 'Back', geocachings_path %>
</div>


